@import "tailwindcss";

@theme {
  --color-primary-orange: #ff6b35; /* Vibrant Orange */
  --color-secondary: #ff8c42; /* Lighter Orange */

  --color-white-bg: #fff5e1; /* Soft Warm White */
  --color-darkgrey: #702c1c; /* Deep Burnt Orange */
  --color-green: #d9591c; /* Muted Reddish Orange */

  --color-bglight: #d9dcac; /* Pale Peach Background */
  --color-darkblue: #a34717; /* Dark Copper Orange */
}

body {
  background-color: var(--color-bglight);
}

* {
  scrollbar-width: none;
}
